// ALL THE BASIC COLORS VARIABLES

/* ALL THE BASIC COLORS */
$color__Red: #ff0000;
$color__Green: #00ff00;
$color__Blue: #0000ff;
$color__Black: #000000;
$color__White: #ffffff;
$color__Gray: #808080;
$color__Silver: #c0c0c0;
$color__Maroon: #800000;
$color__Olive: #808000;
$color__Yellow: #ffff00;
$color__Navy: #000080;
$color__Purple: #800080;
$color__Teal: #008080;
$color__Lime: #00ff00;
$color__Aqua: #00ffff;
$color__Fuchsia: #ff00ff;
$color__Orange: #ffa500;
$color__Pink: #ffc0cb;
$color__Brown: #a52a2a;
$color__Coral: #ff7f50;
$color__Gold: #ffd700;
$color__Khaki: #f0e68c;
$color__Indigo: #4b0082;
$color__Lavender: #e6e6fa;
$color__Magenta: #ff00ff;
$color__Orchid: #da70d6;
$color__Plum: #dda0dd;
$color__Salmon: #fa8072;
$color__Tan: #d2b48c;
$color__Violet: #ee82ee;
$color__Cyan: #00ffff;
$color__Azure: #f0ffff;
$color__Beige: #f5f5dc;
$color__Bisque: #ffe4c4;
$color__Chartreuse: #7fff00;
$color__Crimson: #dc143c;
$color__Darkgreen: #006400;
$color__Deeppink: #ff1493;
$color__Firebrick: #b22222;
$color__Forestgreen: #228b22;
$color__Hotpink: #ff69b4;
$color__Indianred: #cd5c5c;
$color__Lawngreen: #7cfc00;
$color__Lightblue: #add8e6;
$color__Lightcoral: #f08080;
$color__Lightgreen: #90ee90;
$color__Lightskyblue: #87cefa;
$color__Lightsteelblue: #b0c4de;
$color__Mediumorchid: #ba55d3;
$color__Mediumturquoise: #48d1cc;
$color__Mediumvioletred: #c71585;
$color__Midnightblue: #191970;
$color__Olivedrab: #6b8e23;
$color__Orangered: #ff4500;
$color__Palegreen: #98fb98;
$color__Peru: #cd853f;
$color__Rosybrown: #bc8f8f;
$color__Royalblue: #4169e1;
$color__Saddlebrown: #8b4513;
$color__Seagreen: #2e8b57;
$color__Sienna: #a0522d;
$color__Skyblue: #87ceeb;
$color__Slateblue: #6a5acd;
$color__Slategray: #708090;
$color__Springgreen: #00ff7f;
$color__Steelblue: #4682b4;
$color__Tomato: #ff6347;
$color__Turquoise: #40e0d0;
$color__Wheat: #f5deb3;
$color__Yellowgreen: #9acd32;
$color__Darkblue: #00008b;
$color__Darkcyan: #008b8b;
$color__Darkgoldenrod: #b8860b;
$color__Darkgray: #a9a9a9;
$color__Darkkhaki: #bdb76b;
$color__Darkmagenta: #8b008b;
$color__Darkolivegreen: #556b2f;
$color__Darkorange: #ff8c00;
$color__Darkorchid: #9932cc;
$color__Darkred: #8b0000;
$color__Darksalmon: #e9967a;
$color__Darkseagreen: #8fbc8f;
$color__Darkslateblue: #483d8b;
$color__Darkslategray: #2f4f4f;
$color__Darkturquoise: #00ced1;
$color__Darkviolet: #9400d3;
$color__Deepskyblue: #00bfff;
$color__Dimgray: #696969;
$color__Gainsboro: #dcdcdc;
$color__Ghostwhite: #f8f8ff;
$color__Honeydew: #f0fff0;
$color__Lightgoldenrodyellow: #fafad2;
$color__Lightgray: #d3d3d3;
$color__Lightpink: #ffb6c1;
$color__Lightsalmon: #ffa07a;
$color__Lightseagreen: #20b2aa;
$color__Lightslategray: #778899;
$color__Lightyellow: #ffffe0;
$color__Mediumaquamarine: #66cdaa;
$color__Mediumblue: #0000cd;
$color__Mediumseagreen: #3cb371;
$color__Mediumslateblue: #7b68ee;
$color__Mediumspringgreen: #00fa9a;
$color__Mediumstategray: #7b68ee;
$color__Mediumturquois: #48d1cc;
$color__Mediumvioletred: #c71585;
$color__Mintcream: #f5fffa;
$color__Mistyrose: #ffe4e1;
$color__Navajowhite: #ffdead;
$color__Oldlace: #fdf5e6;
$color__Palegoldenrod: #eee8aa;
$color__Palevioletred: #db7093;
$color__Papayawhip: #ffefd5;
$color__Peachpuff: #ffdab9;
$color__Powderblue: #b0e0e6;
$color__Rebeccapurple: #663399;
$color__Seashell: #fff5ee;
$color__Snow: #fffafa;
$color__Thistle: #d8bfd8;
$color__Transparent: rgba(0, 0, 0, 0);





