/*
-----------------------------------
_ram-vars.scss
RAM'S VARIABLE RANGES
STARTS = 0.0ram ~ 0.9ram
ENDS = 1.0ram ~ 50.0ram
-----------------------------------
*/

// FOR LOOP
// $base: 20; // Base value
// $multiplier: 10; // Multiplier for increments

// @for $i from 0 through 30 { // You can adjust the loop range according to your needs
//   $variable-number: $base + $i * $multiplier;
//   $variable-name: ram#{$variable-number};
//   $variable-value: $variable-number * 1rem;

//   #{$variable-name}: #{$variable-value};
// }


/* REM SIZE VARIABLES */
$ram00: 0rem;
$ram01: 0.1rem;
$ram02: 0.2rem;
$ram03: 0.3rem;
$ram04: 0.4rem;
$ram05: 0.5rem;
$ram06: 0.6rem;
$ram07: 0.7rem;
$ram08: 0.8rem;
$ram09: 0.9rem;
$ram10: 1rem;
$ram11: 1.1rem;
$ram12: 1.2rem;
$ram13: 1.3rem;
$ram14: 1.4rem;
$ram15: 1.5rem;
$ram16: 1.6rem;
$ram17: 1.7rem;
$ram18: 1.8rem;
$ram19: 1.9rem;
$ram20: 2rem;
$ram21: 2.1rem;
$ram22: 2.2rem;
$ram23: 2.3rem;
$ram24: 2.4rem;
$ram25: 2.5rem;
$ram26: 2.6rem;
$ram27: 2.7rem;
$ram28: 2.8rem;
$ram29: 2.9rem;
$ram30: 3rem;
$ram31: 3.1rem;
$ram32: 3.2rem;
$ram33: 3.3rem;
$ram34: 3.4rem;
$ram35: 3.5rem;
$ram36: 3.6rem;
$ram37: 3.7rem;
$ram38: 3.8rem;
$ram39: 3.9rem;
$ram40: 4rem;
$ram41: 4.1rem;
$ram42: 4.2rem;
$ram43: 4.3rem;
$ram44: 4.4rem;
$ram45: 4.5rem;
$ram46: 4.6rem;
$ram47: 4.7rem;
$ram48: 4.8rem;
$ram49: 4.9rem;
$ram50: 5rem;
$ram51: 5.1rem;
$ram52: 5.2rem;
$ram53: 5.3rem;
$ram54: 5.4rem;
$ram55: 5.5rem;
$ram56: 5.6rem;
$ram57: 5.7rem;
$ram58: 5.8rem;
$ram59: 5.9rem;
$ram60: 6rem;
$ram61: 6.1rem;
$ram62: 6.2rem;
$ram63: 6.3rem;
$ram64: 6.4rem;
$ram65: 6.5rem;
$ram66: 6.6rem;
$ram67: 6.7rem;
$ram68: 6.8rem;
$ram69: 6.9rem;
$ram70: 7rem;
$ram71: 7.1rem;
$ram72: 7.2rem;
$ram73: 7.3rem;
$ram74: 7.4rem;
$ram75: 7.5rem;
$ram76: 7.6rem;
$ram77: 7.7rem;
$ram78: 7.8rem;
$ram79: 7.9rem;
$ram80: 8rem;
$ram81: 8.1rem;
$ram82: 8.2rem;
$ram83: 8.3rem;
$ram84: 8.4rem;
$ram85: 8.5rem;
$ram86: 8.6rem;
$ram87: 8.7rem;
$ram88: 8.8rem;
$ram89: 8.9rem;
$ram90: 9rem;
$ram91: 9.1rem;
$ram92: 9.2rem;
$ram93: 9.3rem;
$ram94: 9.4rem;
$ram95: 9.5rem;
$ram96: 9.6rem;
$ram97: 9.7rem;
$ram98: 9.8rem;
$ram99: 9.9rem;
$ram100: 10rem;
$ram101: 10.1rem;
$ram102: 10.2rem;
$ram103: 10.3rem;
$ram104: 10.4rem;
$ram105: 10.5rem;
$ram106: 10.6rem;
$ram107: 10.7rem;
$ram108: 10.8rem;
$ram109: 10.9rem;
$ram110: 11.0rem;
$ram111: 11.1rem;
$ram112: 11.2rem;
$ram113: 11.3rem;
$ram114: 11.4rem;
$ram115: 11.5rem;
$ram116: 11.6rem;
$ram117: 11.7rem;
$ram118: 11.8rem;
$ram119: 11.9rem;
$ram120: 12.0rem;
$ram121: 12.1rem;
$ram122: 12.2rem;
$ram123: 12.3rem;
$ram124: 12.4rem;
$ram125: 12.5rem;
$ram126: 12.6rem;
$ram127: 12.7rem;
$ram128: 12.8rem;
$ram129: 12.9rem;

$ram130: 13.0rem;
$ram131: 13.1rem;
$ram132: 13.2rem;
$ram133: 13.3rem;
$ram134: 13.4rem;
$ram135: 13.5rem;
$ram136: 13.6rem;
$ram137: 13.7rem;
$ram138: 13.8rem;
$ram139: 13.9rem;

$ram140: 14.0rem;
$ram141: 14.1rem;
$ram142: 14.2rem;
$ram143: 14.3rem;
$ram144: 14.4rem;
$ram145: 14.5rem;
$ram146: 14.6rem;
$ram147: 14.7rem;
$ram148: 14.8rem;
$ram149: 14.9rem;

$ram150: 15.0rem;
$ram151: 15.1rem;
$ram152: 15.2rem;
$ram153: 15.3rem;
$ram154: 15.4rem;
$ram155: 15.5rem;
$ram156: 15.6rem;
$ram157: 15.7rem;
$ram158: 15.8rem;
$ram159: 15.9rem;

$ram160: 16.0rem;
$ram161: 16.1rem;
$ram162: 16.2rem;
$ram163: 16.3rem;
$ram164: 16.4rem;
$ram165: 16.5rem;
$ram166: 16.6rem;
$ram167: 16.7rem;
$ram168: 16.8rem;
$ram169: 16.9rem;

$ram170: 17.0rem;
$ram171: 17.1rem;
$ram172: 17.2rem;
$ram173: 17.3rem;
$ram174: 17.4rem;
$ram175: 17.5rem;
$ram176: 17.6rem;
$ram177: 17.7rem;
$ram178: 17.8rem;
$ram179: 17.9rem;

$ram180: 18.0rem;
$ram181: 18.1rem;
$ram182: 18.2rem;
$ram183: 18.3rem;
$ram184: 18.4rem;
$ram185: 18.5rem;
$ram186: 18.6rem;
$ram187: 18.7rem;
$ram188: 18.8rem;
$ram189: 18.9rem;


$ram190: 19.0rem;
$ram191: 19.1rem;
$ram192: 19.2rem;
$ram193: 19.3rem;
$ram194: 19.4rem;
$ram195: 19.5rem;
$ram196: 19.6rem;
$ram197: 19.7rem;
$ram198: 19.8rem;
$ram199: 19.9rem;
$ram201: 20.1rem;
$ram202: 20.2rem;
$ram203: 20.3rem;
$ram204: 20.4rem;
$ram205: 20.5rem;
$ram206: 20.6rem;
$ram207: 20.7rem;
$ram208: 20.8rem;
$ram209: 20.9rem;
$ram211: 21.1rem;
$ram212: 21.2rem;
$ram213: 21.3rem;
$ram214: 21.4rem;
$ram215: 21.5rem;
$ram216: 21.6rem;
$ram217: 21.7rem;
$ram218: 21.8rem;
$ram219: 21.9rem;
$ram221: 22.1rem;
$ram222: 22.2rem;
$ram223: 22.3rem;
$ram224: 22.4rem;
$ram225: 22.5rem;
$ram226: 22.6rem;
$ram227: 22.7rem;
$ram228: 22.8rem;
$ram229: 22.9rem;
$ram231: 23.1rem;
$ram232: 23.2rem;
$ram233: 23.3rem;
$ram234: 23.4rem;
$ram235: 23.5rem;
$ram236: 23.6rem;
$ram237: 23.7rem;
$ram238: 23.8rem;
$ram239: 23.9rem;
$ram241: 24.1rem;
$ram242: 24.2rem;
$ram243: 24.3rem;
$ram244: 24.4rem;
$ram245: 24.5rem;
$ram246: 24.6rem;
$ram247: 24.7rem;
$ram248: 24.8rem;
$ram249: 24.9rem;
$ram251: 25.1rem;
$ram252: 25.2rem;
$ram253: 25.3rem;
$ram254: 25.4rem;
$ram255: 25.5rem;
$ram256: 25.6rem;
$ram257: 25.7rem;
$ram258: 25.8rem;
$ram259: 25.9rem;
$ram261: 26.1rem;
$ram262: 26.2rem;
$ram263: 26.3rem;
$ram264: 26.4rem;
$ram265: 26.5rem;
$ram266: 26.6rem;
$ram267: 26.7rem;
$ram268: 26.8rem;
$ram269: 26.9rem;
$ram271: 27.1rem;
$ram272: 27.2rem;
$ram273: 27.3rem;
$ram274: 27.4rem;
$ram275: 27.5rem;
$ram276: 27.6rem;
$ram277: 27.7rem;
$ram278: 27.8rem;
$ram279: 27.9rem;
$ram281: 28.1rem;
$ram282: 28.2rem;
$ram283: 28.3rem;
$ram284: 28.4rem;
$ram285: 28.5rem;
$ram286: 28.6rem;
$ram287: 28.7rem;
$ram288: 28.8rem;
$ram289: 28.9rem;
$ram291: 29.1rem;
$ram292: 29.2rem;
$ram293: 29.3rem;
$ram294: 29.4rem;
$ram295: 29.5rem;
$ram296: 29.6rem;
$ram297: 29.7rem;
$ram298: 29.8rem;
$ram299: 29.9rem;
$ram300: 30rem;
$ram301: 31rem;
$ram302: 30.2rem;
$ram303: 30.3rem;
$ram304: 30.4rem;
$ram305: 30.5rem;
$ram306: 30.6rem;
$ram307: 30.7rem;
$ram308: 30.8rem;
$ram309: 30.9rem;
$ram310: 31.0rem;
$ram311: 31.1rem;
$ram312: 31.2rem;
$ram313: 31.3rem;
$ram314: 31.4rem;
$ram315: 31.5rem;
$ram316: 31.6rem;
$ram317: 31.7rem;
$ram318: 31.8rem;
$ram319: 31.9rem;
$ram321: 32.1rem;
$ram322: 32.2rem;
$ram323: 32.3rem;
$ram324: 32.4rem;
$ram325: 32.5rem;
$ram326: 32.6rem;
$ram327: 32.7rem;
$ram328: 32.8rem;
$ram329: 32.9rem;
$ram331: 33.1rem;
$ram332: 33.2rem;
$ram333: 33.3rem;
$ram334: 33.4rem;
$ram335: 33.5rem;
$ram336: 33.6rem;
$ram337: 33.7rem;
$ram338: 33.8rem;
$ram339: 33.9rem;
$ram341: 34.1rem;
$ram342: 34.2rem;
$ram343: 34.3rem;
$ram344: 34.4rem;
$ram345: 34.5rem;
$ram346: 34.6rem;
$ram347: 34.7rem;
$ram348: 34.8rem;
$ram349: 34.9rem;
$ram351: 35.1rem;
$ram352: 35.2rem;
$ram353: 35.3rem;
$ram354: 35.4rem;
$ram355: 35.5rem;
$ram356: 35.6rem;
$ram357: 35.7rem;
$ram358: 35.8rem;
$ram359: 35.9rem;
$ram361: 36.1rem;
$ram362: 36.2rem;
$ram363: 36.3rem;
$ram364: 36.4rem;
$ram365: 36.5rem;
$ram366: 36.6rem;
$ram367: 36.7rem;
$ram368: 36.8rem;
$ram369: 36.9rem;
$ram371: 37.1rem;
$ram372: 37.2rem;
$ram373: 37.3rem;
$ram374: 37.4rem;
$ram375: 37.5rem;
$ram376: 37.6rem;
$ram377: 37.7rem;
$ram378: 37.8rem;
$ram379: 37.9rem;
$ram381: 38.1rem;
$ram382: 38.2rem;
$ram383: 38.3rem;
$ram384: 38.4rem;
$ram385: 38.5rem;
$ram386: 38.6rem;
$ram387: 38.7rem;
$ram388: 38.8rem;
$ram389: 38.9rem;
$ram391: 39.1rem;
$ram392: 39.2rem;
$ram393: 39.3rem;
$ram394: 39.4rem;
$ram395: 39.5rem;
$ram396: 39.6rem;
$ram397: 39.7rem;
$ram398: 39.8rem;
$ram399: 39.9rem;
$ram401: 40.1rem;
$ram402: 40.2rem;
$ram403: 40.3rem;
$ram404: 40.4rem;
$ram405: 40.5rem;
$ram406: 40.6rem;
$ram407: 40.7rem;
$ram408: 40.8rem;
$ram409: 40.9rem;
$ram411: 41.1rem;
$ram412: 41.2rem;
$ram413: 41.3rem;
$ram414: 41.4rem;
$ram415: 41.5rem;
$ram416: 41.6rem;
$ram417: 41.7rem;
$ram418: 41.8rem;
$ram419: 41.9rem;
$ram421: 42.1rem;
$ram422: 42.2rem;
$ram423: 42.3rem;
$ram424: 42.4rem;
$ram425: 42.5rem;
$ram426: 42.6rem;
$ram427: 42.7rem;
$ram428: 42.8rem;
$ram429: 42.9rem;
$ram431: 43.1rem;
$ram432: 43.2rem;
$ram433: 43.3rem;
$ram434: 43.4rem;
$ram435: 43.5rem;
$ram436: 43.6rem;
$ram437: 43.7rem;
$ram438: 43.8rem;
$ram439: 43.9rem;
$ram441: 44.1rem;
$ram442: 44.2rem;
$ram443: 44.3rem;
$ram444: 44.4rem;
$ram445: 44.5rem;
$ram446: 44.6rem;
$ram447: 44.7rem;
$ram448: 44.8rem;
$ram449: 44.9rem;
$ram451: 45.1rem;
$ram452: 45.2rem;
$ram453: 45.3rem;
$ram454: 45.4rem;
$ram455: 45.5rem;
$ram456: 45.6rem;
$ram457: 45.7rem;
$ram458: 45.8rem;
$ram459: 45.9rem;
$ram461: 46.1rem;
$ram462: 46.2rem;
$ram463: 46.3rem;
$ram464: 46.4rem;
$ram465: 46.5rem;
$ram466: 46.6rem;
$ram467: 46.7rem;
$ram468: 46.8rem;
$ram469: 46.9rem;
$ram471: 47.1rem;
$ram472: 47.2rem;
$ram473: 47.3rem;
$ram474: 47.4rem;
$ram475: 47.5rem;
$ram476: 47.6rem;
$ram477: 47.7rem;
$ram478: 47.8rem;
$ram479: 47.9rem;
$ram481: 48.1rem;
$ram482: 48.2rem;
$ram483: 48.3rem;
$ram484: 48.4rem;
$ram485: 48.5rem;
$ram486: 48.6rem;
$ram487: 48.7rem;
$ram488: 48.8rem;
$ram489: 48.9rem;
$ram491: 49.1rem;
$ram492: 49.2rem;
$ram493: 49.3rem;
$ram494: 49.4rem;
$ram495: 49.5rem;
$ram496: 49.6rem;
$ram497: 49.7rem;
$ram498: 49.8rem;
$ram499: 49.9rem;
$ram500: 50rem;

// ADDITIONALS
$ram200: 20.0rem;
$ram210: 21.0rem;
$ram220: 22.0rem;
$ram230: 23.0rem;
$ram240: 24.0rem;
$ram250: 25.0rem;
$ram260: 26.0rem;
$ram270: 27.0rem;
$ram280: 28.0rem;
$ram290: 29.0rem;
$ram300: 30.0rem;
$ram310: 31.0rem;
$ram320: 32.0rem;
$ram330: 33.0rem;
$ram340: 34.0rem;
$ram350: 35.0rem;
$ram360: 36.0rem;
$ram370: 37.0rem;
$ram380: 38.0rem;
$ram390: 39.0rem;
$ram400: 40.0rem;
$ram410: 41.0rem;
$ram420: 42.0rem;
$ram430: 43.0rem;
$ram440: 44.0rem;
$ram450: 45.0rem;
$ram460: 46.0rem;
$ram470: 47.0rem;
$ram480: 48.0rem;
$ram490: 49.0rem;
$ram500: 50.0rem;
