/* ----------------------------------------------------------------
HOVER EFFECTS
----------------------------------------------------------------
*/

/* TEXT HOVER */
.hover__text_White:hover {
    color: #fff;
    transition: color 0.3s ease-in-out;
}
.hover__text_Black:hover {
    color: #000;
    transition: color 0.3s ease-in-out;
}
